# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec
*.pyz

# Virtual environments
.venv/
venv/
ENV/
env/
.Python

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
coverage.xml
htmlcov/

# Editor directories and files
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# PyCharm
.idea/

# Local pyc bundles
localpycs/
